* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222 !important;
}
.profile-image {
  border-radius: 50%;
  height: 15rem;
}

.about-me {
  height: 20rem;
  width: 100%;
}

.project-card {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.7s ease-in-out all;
}

.project-card.visible {
  opacity: 1;
  transform: scale(1);
}
